<header class="cabecalho">
    <div class="logo">
        <a href="/">
            <img src="/images/logo.png" 
            alt="Logo Observatório Tecnológico"
            width="200"
            height="50" 
            class="logoImagem">
        </a>
    </div>

    <nav class="barraDeNavegacao">
        <ul class="listaDeNavegacao">
            <li><a href="/">Inicio</a></li>
        </ul>
    </nav>
</header>