<main>
    <section class="apresentacaoObservatorio">
        <h2 class="tituloConteudo">Observatório Tecnológico do Futuro!</h2>
        <p class="explicacao">
            Nesta página, exploraremos as tecnologias atuais que estão moldando o mundo ao nosso redor. 
            Do avanço da inteligência artificial à realidade virtual e às tecnologias emergentes, 
            estamos aqui para ajudá-lo a descobrir o que está além do horizonte tecnológico.
        </p>
    </section>

    <h2 class="tituloConteudo">Tecnologias</h2>
    <section class="menuDeTecnologias">
        <div class="setas esquerda"
             onclick="previousSlide();">
            <img src="/images/seta-esquerda.png" width="50" height="50" alt="">
        </div>
        <ul class="containerDeSlides">
            <% informacoes.forEach((informacao, index) => { %>
                <li class="itemDaLista">
                    <a href=<%= "detalhes/"+informacao.id %> class="containerImagensLink">
                        <img src=<%= informacao.imagem %>
                            alt="Imagem referente ao link para ler sobre IA"
                            width="100"
                            height="100"
                            class="imagensParaLink">
                        <h4><%= informacao.nome %></h4>
                    </a>
                </li>
            <% }); %>
        </ul>
        <div class="setas direita"
             onclick="nextSlide();">
                <img src="/images/seta-direita.png" width="50" height="50" alt="">
        </div>
    </section>
</main>