<footer id="rodape">
    <div class="rodape_content">
        <h3>Criadores desse Observatório:</h3>
        <ul class="listaCriadores">
            <li>Marco Aurélio de Araujo Jesus</li>
            <li>Izabella Barros</li>
            <li>Vitor Marques</li>
            <li>Rhayanne</li>
            <li>Maria Elisa</li>
        </ul>
    </div>
</footer>